.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.4fr 1.6fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      ". failedLoginHeaders failedLoginHeaders ."
      ". failPic failPic ."
      ". . . .";
  }
  .failedLoginHeaders { grid-area: failedLoginHeaders; text-align: center;}
  .failPic { grid-area: failPic; text-align: center;}